        body {
          font-family: 'Cabin', sans-serif;
          /*min-height: 100vh;*/
          color: #173e4f;
        }

        .body-fade {
          opacity:    0.3;
          width:      100%;
          height:     100%;
          z-index:    10;
          top:        0;
          left:       0;
          position:   fixed;
        }

        @font-face {
          /*font-family: 'Cabin', sans-serif;*/
          font-family: 'Cabin', sans-serif;
        }

        .main-background {
            height: 580px;
            background: url("static/img/landing-bg1.jpg")  no-repeat center;
            background-size: cover;
            display: flex;
            align-items: center;
        }

        @media screen and (min-width: 480px) {
          .main-background {
            height: 600px;
          }          
        }

        .main-background2 {
            background: url("static/img/rectangle-4.jpg")  no-repeat center;
            background-size: cover;
            position: relative;
        }

        .main-background2.planit-container {
          width: inherit;
          margin: 0;
        }

        .height-original {
          height: 802px;
        }

        .plain-background {
          background-color: #fff;
        }

        .translucent-header-background {
          background-color: rgba(255, 255, 255, 0.5);
        }

        .main-background-gradient {
              height: 802px;
              background: linear-gradient(to bottom, rgba(23, 62, 79, 0.2), rgba(23, 62, 79, 0.4) 50%, rgba(23, 62, 79, 0.2));
              background-size: cover;
              position: relative;
        }

        .main-background-wrapper {
              height: 802px;
              background-size: cover;
        }

        .main-logo {
            height: 36px;
            background: url("static/img/greenr-logo-main.svg")  no-repeat center;
            background-size: 192px 22px;
            flex-basis: 100%;
            /*position: relative;*/
            /*top: -100px;            */
        }

        @media screen and (min-width: 480px) {
          .main-logo {
            height: 60px;
            background-size: 320px 37px;
          }          
        }

        .display-inline-block {
          display: inline-block;
        }

        .main-logo-center {
            margin: 0 auto;
            display: inline-block;
        }

        .main-logo-green {
          height: 30px;
          width: 160px;
        }


        .display-block {
            display: block;
        }

        .vertical-middle {
            /*display: flex;*/
            /*justify-content: center;*/
            /*align-items: center;*/
            /*height: 100%;*/
            /*position: relative;*/
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            top: 50%;
            position: relative;
            text-align: center;
        }

        #menu {
          -webkit-transition: width 100ms ease;
          -moz-transition: width 100ms ease;
          -o-transition: width 100ms ease;
          transition: width 100ms ease;
          background: hsla(1,0%,100%,1);
          position: fixed;
          top: 0;
          width: 0px;
          z-index: 10000;
          overflow: hidden;
        }

        #menu.in {
          width: 60%;
        }

        .extra-header-offset {
          margin-top: 90px;
        }

        .spanner {
            /*width: 100%;*/
            /*position: absolute;*/
            color: white;
        }

        .social-icon-container {
          display: inline-block;
        }

        .top-menu {
          background: url(static/img/menu-icon.svg) no-repeat center;
          background-size: 35px 26px;
          padding: 22px;
          margin: 7px 0;
          outline: none;
          border: none;
        }

        .top-menu-white {
          background: url(static/img/menu-icon.svg) no-repeat center;
          background-size: 35px 26px;
          margin: 20px 0 0;
          padding: 22px;
          outline: none;
        }

        .top-instagram {
          background: url(static/img/insta.svg) no-repeat;
          padding: 0.675rem .75rem;
          border: none;
          cursor:pointer;
        }

        .top-instagram-green {
          background: url(static/img/insta-green.svg) no-repeat;
          padding: 14px;
          border: none;
          cursor:pointer;
        }

        .navbar-side-padding {
          padding-right: 1rem;
        }

        a {
          cursor:pointer;
        }

        .top-facebook {
          background: url(static/img/fb.svg) no-repeat;
          padding: 0.675rem .75rem;
          border: none;
          cursor:pointer;
        }

        .top-facebook-green {
          background: url(static/img/fb-green.svg) no-repeat;
          padding: 14px;
          border: none;
          cursor:pointer;
        }

        .description-header {
          color: white;
          /*background-color: ;*/
          background: #183E4E url(static/img/leaf.png) no-repeat bottom 0px left 1px;
          background-size: 54px;
          padding: 25px 0 17px 58px;
        }

        @media screen and (min-width: 480px) {
          /*#menu {
            width: 50%;
          }*/

          #menu.in {
            width: 50%;
          }

          .description-header {
            color: white;
            /*background-color: ;*/
            background: #183E4E url(static/img/leaf.png) no-repeat bottom 0px left 70px;
            background-size: 54px;
            padding: 25px 0 17px 131px;
          }
        }

        

        .center-header {

          font-size: 16px;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 4px;
          color: white;
          background: #173e4f;
          padding: 10px;
          text-align: center;
          font-weight: 500;
          flex-basis: 100%;
        }

        .description-heading-brand {
          font-size: 14px;
          font-weight: normal;
          /*left: 120px;
          top: 20px;
          position: relative;*/
        }

        .description-heading-body {
          font-size: 24px;
          font-weight: 500;
          /*left: 120px;
          top: 20px;
          position: relative;*/
        }

        .blue-left {
          border-left: 3.49px solid #183E4E;
          border-bottom-left-radius: 4px;
        }

        .blue-top {
          border-top: 2.49px solid #183E4E;
        }

        .blue-bottom {
          border-bottom: 2.49px solid #183E4E;
        }

        .main-description-container {
          margin-left: 30px;
          padding-left: 25px;
          padding-top: 30px;
        }

        .invite-description-container {
          margin: 0 20px;
          padding-top: 30px;
          text-align: center;
        }

        .move-to-plantmeats-container {
          margin: 0 0 0 20px;
          padding-top: 30px;
          /*text-align: center;*/
        }

        @media screen and (min-width: 480px) {
          .move-to-plantmeats-container {
            /*margin: 0 20px;*/
            padding-top: 30px;
            /*text-align: center;*/
          }
        }

        .plantmeats-heading {
          font-size: 20px;
          font-weight: 500;
          text-align: center;
          color: #173e4f;
          max-width: 1200px;
          background-color: #f8f8f8;
          padding: 60px;
          margin: 20px 0 40px;
        }

        @media screen and (min-width: 480px) {
          .main-description-container {
            margin-left: 98px;
            padding-left: 25px;
            padding-top: 30px;
          }

          .invite-description-container {
            margin: 0 88px;
            padding-top: 30px;
          }

          .move-to-plantmeats-container {
            margin: 30px 100px;
            padding-top: 30px;
          }

          .plantmeats-heading {
            font-size: 36px;
            font-weight: 500;
            text-align: center;
            color: #173e4f;
            max-width: 1200px;
            background-color: #f8f8f8;
            padding: 60px;
            margin: 20px 0 40px;
          }
        }

        .description {
          max-width: 1200px;
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
        }

        .description-list-item {
          max-width: 1200px;
          margin-top: 40px;
          font-weight: bold;
        }

        .community {
          background: url(static/img/star.svg) no-repeat center left 0px;
          background-size: 50px;
        }

        .self {
          background: url(static/img/circle.svg) no-repeat center left 0px;
          background-size: 50px;
        }

        .nature {
          background: url(static/img/tree.svg) no-repeat center left 0px;
          background-size: 50px;
        }

        .description-list-text {
          padding-left: 67px;
        }

        .description-list-heading {
          font-size: 20px;
          letter-spacing: 5px;
          font-weight: 600;
        }

        .description-list-body {
          font-size: 16px;
          font-weight: 500;
        }


        .basic-description {
          padding-bottom: 60px;
          padding-right: 20px;
          color: #173e4f;
        }

        @media screen and (min-width: 480px) {
          .basic-description {
            padding-bottom: 60px;
            padding-right: 60px;
            color: #173e4f;
          }
        }

        .more-about-btn-container {
          border: #183E4E solid 1px;
          width: 100%;
          margin: 30px auto;
        }

        .move-to-btn-container {
          border: #183E4E solid 1px;
          margin: 30px 10px;
        }

        .more-about-btn {
          width: 100%;
          height: 40px;
          background-color: #173e4f;
          font-family: 'Cabin', sans-serif;
          font-size: 16px;
          font-weight: 900;
          text-align: center;
          color: #ffffff;
          margin-top: 0px;
          position: relative;
          top: -5px;
          left: -7px;
          border: none;
          cursor: pointer;
        }
        

        @media screen and (min-width: 480px) {
          .more-about-btn-container {
            border: #183E4E solid 1px;
            width: 305px;
            margin: 30px auto;
          }

          .move-to-btn-container {
            border: #183E4E solid 1px;
            width: 305px;
            margin: 30px 10px;
          }

          .more-about-btn {
            width: 310px;
            height: 40px;
            background-color: #173e4f;
            font-family: 'Cabin', sans-serif;
            font-size: 16px;
            font-weight: 900;
            text-align: center;
            color: #ffffff;
            margin-top: 0px;
            position: relative;
            top: -5px;
            left: -12px;
          }
        }
        
        .interaction-section {
          background-color: rgba(23, 62, 79, 0.4);
          max-width: 100%;
          padding: 10px 20px;
          color: #ffffff;
          position: absolute;
          bottom: 0;
          font-family: 'Cabin', sans-serif;
        }

        .interaction-section:hover {
          background: #173e4f;
        }

        .btn-interaction-wrapper {
          width: 100%;
        }

        .btn-interaction {
          display: none;
        }

        .interaction-hashtag {
          font-size: 32px;
          font-weight: 900;
          line-height: 1.8;
        }

        .interaction-description {
          font-size: 14px;
          font-weight: 500;
          line-height: 1.43;
          margin-bottom: 45px;
        }

        .statistics-text {
          padding: 20px 48px;
          display: block;
          align-items: center;
        }

        .statistics-text-left {
          text-align: center;
          display: block;
        }

        .stats-head-row1 {
          font-size: 20px;
          letter-spacing: 4px;
          font-weight: 500;
        }

        .stats-head-row2 {
          font-size: 14px;
        }

        .statistics-text-right {
          display: block;
          text-align: center;
          font-size: 10px;
          flex-grow: 100;
        }

        .statistics-items {
          display: block;
        }

        @media screen and (min-width: 480px) {
          .statistics-text {
            padding: 20px 48px 20px 100px;
            display: block;
            align-items: center;
          }
        }

        @media screen and (min-width: 768px) {
          .interaction-section {
            max-width: 600px;
            padding: 60px;
          }

        }

        .extra-margin {
          margin: 40px auto 0;
        }
        @media screen and (min-width: 480px) {

          .statistics-text {
            display: flex;
          }
          .statistics-text-left {
            text-align: left;
            display: inline-block;
          }

          .statistics-text-right {
            display: inline-block;
            text-align: right;
          }

          .btn-interaction {
            border: solid 2px #ffffff;
            background: none;
            width: inherit;
            margin: 20px 0;
            padding: 10px;

            font-size: 16px;
            font-weight: 900;
            letter-spacing: 4px;
            text-align: center;
            display: block;
          }

          .interaction-description {
            margin-bottom: 0;
          }
        }

        @media screen and (min-width: 768px) {
          .statistics-items {
            display: flex;
          }
        }

        .statistics-item {
          /*display: inline-block;*/
          flex-basis: 100%;
          height: 240px;
        }

        .land {
          background: url(static/img/land.png) no-repeat center;
          background-color: #f8f8f8;
          background-size: 40%;
          flex-grow: 100;
        }

        .water {
          background: url(static/img/water.png) no-repeat center;
          background-size: 40%;
          flex-grow: 100;
        }

        .gases {
          background: url(static/img/gas.png) no-repeat center;
          background-color: #f8f8f8;
          background-size: 40%;
          flex-grow: 100;
        }

        .footer-container {
          background-color: #183E4E ;
          padding: 20px;
        }

        .footer {
          border-bottom: 1px solid #ffffff;
          overflow: hidden;
          padding: 0 20px;
        }

        .maps-locations {
          color: #173e4f;
        }

        .maps-locations-white {
          color: #fff;
        }

        .maps-locations-green {
          color: #173e4f;
        }

        .maps-locations-green:hover {
          color: #173e4f;
        }

        .maps-locations:hover {
          color: #173e4f;
          font-weight: 900;
          text-decoration: none;
        }

        .maps-locations-white:hover {
          color: #fff;
        }

        .footer-brand {
          padding-top: 40px;
          /*display: block;*/
          margin: 0 auto;
        }

        .footer-logo {
          background: url(static/img/footer-logo-white.svg) center no-repeat;
          margin: 0 auto;
          background-size: 225px 100px;
          padding: 50px 100px;
        }
        

        .footer-contact-details {
          padding: 20px 0px 30px 0;
          color: #fff;
          font-family: 'Cabin', sans-serif;
          font-size: 30px;
          font-weight: 500;
          text-align: center;
        }

        .footer-cafe-address {
          flex-basis: 50%;
          padding: 10px 0;
        }

        .footer-co-address {
          flex-basis: 50%;
          padding: 10px;
        }

        .footer-address-container {
          display: flex;
          flex-direction: column;
          font-size: 14px;
        }

        .footer-contact-heading {
          padding-top: 20px;
          font-size: 16px;
        }

        @media screen and (min-width: 1070px) {
          .footer-brand {
            padding-top: 80px;
            display: inline-block;
          }

          .footer-contact-details {
            margin: 0 auto;
            padding: 80px 0px 30px 0;
            display: inline-block;
            float: right;
            color: #fff;
            font-family: 'Cabin', sans-serif;
            font-size: 30px;
            font-weight: 500;
          }

          .footer-address-container {
            display: flex;
            text-align: right;
            flex-direction: row;
            font-size: 14px;
          }

        }

        @media screen and (min-width: 768px) {

          .footer-container {
            background-color: #183E4E ;
            padding: 20px 80px;
          }

          .footer-cafe-address {
            flex-basis: 100%;
            padding: 0 10px;
          }

          .footer-co-address {
            flex-basis: 100%;
          }

          .footer-address-container {
            display: flex;
            flex-direction: row;
            font-size: 14px;
          }

          .desktop-hidden {
            display: none;
          }
        }

        @media screen and (min-width: 480px) {
          .footer-contact-heading {
            padding-top: 0;
            font-size: 30px
          }

          .footer-logo {
            height: 125px;
            width: 280px;
            background: url(static/img/footer-logo-white.svg) no-repeat;
            margin: 0 auto;
          }
        }

        .phone-number {
          font-size: 18px;
          font-weight: 500;
        }

        .shroomballs {
          background: url("static/img/shroomballs.svg") left no-repeat;
          padding: 30px 0;
          background-size: 35px;
          -webkit-filter: contrast(0%) brightness(190%);
          filter: contrast(00%) brightness(190%);

        }

        .collapsed .shroomballs {
          -webkit-filter: none;
          filter: none;
        }

        .bean {
          background: url("static/img/bean.svg") left no-repeat;
          padding: 30px 0;
          background-size: 35px;
          -webkit-filter: contrast(0%) brightness(190%);
          filter: contrast(00%) brightness(190%);

        }

        .collapsed .bean {
          -webkit-filter: none;
          filter: none;
        }

        .pea {
          background: url("static/img/pea.svg") left no-repeat;
          padding: 30px 0;
          background-size: 35px;
          -webkit-filter: contrast(0%) brightness(190%);
          filter: contrast(00%) brightness(190%);

        }

        .collapsed .pea {
          -webkit-filter: none;
          filter: none;
        }

        .pea2 {
          background: url("static/img/pea2.svg") left no-repeat;
          padding: 30px 0;
          background-size: 35px;
          -webkit-filter: contrast(0%) brightness(190%);
          filter: contrast(00%) brightness(190%);

        }

        .collapsed .pea2 {
          -webkit-filter: none;
          filter: none;
        }

        .root {
          background: url("static/img/root.svg") left no-repeat;
          padding: 30px 0;
          background-size: 35px;
          -webkit-filter: contrast(0%) brightness(190%);
          filter: contrast(00%) brightness(190%);

        }

        .collapsed .root {
          -webkit-filter: none;
          filter: none;
        }

        .tofu {
          background: url("static/img/tofu.svg") left no-repeat;
          padding: 30px 0;
          background-size: 35px;
          -webkit-filter: contrast(0%) brightness(190%);
          filter: contrast(00%) brightness(190%);

        }

        .collapsed .tofu {
          -webkit-filter: none;
          filter: none;
        }

        .btn-descriptor-item {
          background: url("static/img/toggle-close.svg") left no-repeat;
          padding: 30px 12px;
          border: none;
          background-size: 60px;
          outline: none;
        }

        .btn-descriptor-item.collapsed {
          background: url("static/img/toggle-open.svg") left no-repeat;
          padding: 30px 12px;
          border: none;
          background-size: 60px;
          outline: none;
        }

        

        .btn-descriptor-item.first.collapsed {
          background: url("static/img/toggle-open.svg") left no-repeat;
          padding: 30px 12px;
          border: none;
          background-size: 60px;
          outline: none;
        }

        .no-border {
          border: none;
        }

        .item-descriptor {
          padding-top: 30px;
          max-width: 1380px;
        }

        .accordion-group {
         
        }

        .accordion-subgroup {
          display: flex;
        }

        .accordion-btn {
          flex-basis: 100%;
        }

        .item-heading {
          font-size: 30px;
          font-weight: 900;
        }

      .description-plain-container {
        background: #fff;
      }

      .description-plain {
        max-width: 900px;
        color: #173e4f;
        text-align: center;
        margin: 20px auto;
        padding: 30px 30px 0;
      }

      .background-dark-gray {
        background-color: #f2f2f2;
      }

      .background-light-gray {
        background-color: #fafafa;
      }

      .earth-loaf {
        background: url("static/img/earth-loaf@2x.jpg") center no-repeat;
        padding: 90px;
        background-size: 180px 111px;
        outline: none;
      }

      .blue-tokai {
        background: url("static/img/blue-tokai.jpg") center no-repeat;
        padding: 90px;
        background-size: 108px;
        outline: none;
      }

      .clive {
        background: url("static/img/clive@2x.jpg") center no-repeat;
        padding: 90px;
        background-size: 145px 100px;
        outline: none;
      }

      .martin {
        background: url("static/img/martin_logo.png") center no-repeat;
        padding: 90px;
        background-size: 200px;
        outline: none;
      }

      .my-greens {
        background: url("static/img/my-greens@2x.jpg") center no-repeat;
        padding: 90px;
        background-size: 180px 43px;
        outline: none;
      }

      .ausum-tea {
        background: url("static/img/ausum-tea@2x.jpg") center no-repeat;
        padding: 90px;
        background-size: 147px 53px;
        outline: none;
      }

      .yogis {
        background: url("static/img/yogis@2x.jpg") center no-repeat;
        padding: 90px;
        background-size: 126px 72px;
        outline: none;
      }

      .indian-origins {
        background: url("static/img/indian-origins@2x.jpg") center no-repeat;
        padding: 90px;
        background-size: 76px 100px;
        outline: none;
      }

      .the-gourmet-jar {
        background: url("static/img/the-gourmet-jar@2x.jpg") center no-repeat;
        padding: 90px;
        background-size: 160px;
        outline: none;
      }

      .nutreen {
        background: url("static/img/nutreen@2x.jpg") center no-repeat;
        padding: 90px;
        background-size: 104px;
        outline: none;
      }

      .tea-trunk {
        background: url("static/img/tea-trunk@2x.jpg") center no-repeat;
        padding: 90px;
        background-size: 98px 110px;
        outline: none;
      }

      .tbh {
        background: url("static/img/tbh@2x.jpg") center no-repeat;
        padding: 90px;
        background-size: 104px;
        outline: none;
      }

      .bare-neccessities {
        background: url("static/img/bare-nec@2x.jpg") center no-repeat;
        padding: 90px;
        background-size: 35%;
        outline: none;
      }

      .flying-squirell {
        background: url("static/img/flying-squirell@2x.jpg") center no-repeat;
        padding: 90px;
        background-size: 30%;
        outline: none;
      }

      .nourish-organics {
        background: url("static/img/nourish-organics@2x.jpg") center no-repeat;
        padding: 90px;
        background-size: 45%;
        outline: none;
      }

      .nitin {
        background: url("static/img/nitin.jpg") no-repeat;
      }

      .mohit {
        background: url("static/img/mohit.jpg") no-repeat;
      }

      .vaibhav {
        background: url("static/img/vaibhav.jpeg") no-repeat;
      }

      .malavika {
        background: url("static/img/malavika.jpg") no-repeat;
      }

      .nandini {
        background: url("static/img/nandini.jpg") no-repeat;
      }

      .rajvi {
        background: url("static/img/rajvi.jpeg") no-repeat;
      }

      .team-item-picture {
        /*background: url("static/img/team-item-picture.png") center no-repeat;*/
        height: 338px;
        background-size: contain;
      }

      .team-item-reverse .team-item-picture {
        /*background: url("static/img/team-item-picture.png") center no-repeat;*/
        background-position: right;
      }

      .team-item-description {
        max-width: 750px;
        font-size: 24px;
        font-weight: 300;
      }

      .team-item-picture-container {
        flex-basis: 40%;
      }

      .team-item-description-container {
        flex-basis: 60%;
        margin: auto;
        padding: 70px;
      }

      .alternate-description {
        background-color: inherit;
      }

      .team-name {
        font-weight: bold;
        font-size: 24px;
      }

      .team-about {
        font-size: 20px; 
      }

      .team-email {
        font-weight: bold;
        font-size: 20px; 
      }
      @media screen and (min-width: 1070px) {
        .team-item-description-container {
          padding: 0px 70px;
        }
      }

      .float-right {
        float: right;
      }

      .team {
        color: #173e4f;
      }

      .team-item {
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
      }

      @media screen and (min-width: 1070px) {
        .team-item {
          flex-direction: row;
        }
      }

      .team-item-reverse {
        display: flex;
        flex-direction: column;
        text-align: left;
      }

      @media screen and (min-width: 1070px) {
        .team-item-reverse {
          flex-direction: row-reverse;
          text-align: right;
        }
      }

      .menu-container {
        padding: 10px 0 100% 16px;
        position: relative;
      }

      .menu-header-container {
      }

      .menu-item-container {
        padding: 20px 0px;
      }

      .menu-items {
        padding-left: 30px;
        padding-top: 40px;
      }

      menu-item:hover {
        font-weight: bold
      }

      .community-section {
        margin: 20px auto;
        padding: 0 20px;
        max-width: 900px;
        text-align: center;
      }

      .community-heading {
        font-size: 16px;
        border-bottom: 1px solid #173E4E;
        margin: 10px 0;
      }

      .community-description {
        font-size: 14px;
        margin: 10px 0;
      }

      .community-image {
        height: 110px;
        max-width: 300px;
      }

      @media screen and (min-width: 480px) {

        .community-section {
          margin: 50px auto;
          padding: 0 20px;
          max-width: 900px;
          text-align: center;
        }

        .community-heading {
          font-size: 36px;
          border-bottom: 1px solid #173E4E;
          margin: 20px 0;
        }        

        .community-description {
          font-size: 16px;
          margin: 30px 0;
        }

        .community-image {
          height: 100%;
          max-width: 100%;
        }
      }

      .custom-titlebar {
        position: fixed;
        top: 58px;
        width: 100%;
        z-index: 9999;

      }

      .navbar.fixed-top {
        
      }

      button:focus {
        outline: none;
        cursor:pointer;
        border: none;
      }


      .menu-item {
        font-family: 'Cabin', sans-serif;
        font-size: 24px;
        font-weight: 100;
        color: #173e4f;
      }

      .menu-item:hover { 
        color: #173e4f;
        font-weight: 900;
        text-decoration: none;
      }

      .menu-item.selected {
       font-weight: 900; 
      }

      .close-button-container {
        display: inline-block;

      }

      .menu-close-button {
        background: url("static/img/close.png") left no-repeat;
        padding: 20px;
        background-size: 40px;
        border: none;
        display: inline-block;
        outline: none;
      }

      .menu-logo-container {
        display: inline-block;
        float: right;
        margin: 0 20px;
      }

      .menu-address-container {
        padding: 30px 30px 0 0;
        display: flex;
        position: relative;
        width: 100%;
        top: 100px;
      }

      .greenr-menu-logo {
        background: url(static/img/menu-logo.png) no-repeat;
        background-size: 100px 40px;
        padding: 40px;
        height: 40px;
        width: 100px;
      }

      .planit-container .planit-markers-container .planit-marker.hotspot {
        background: url(static/img/hotspot-icon.svg) no-repeat;
        /*background-size: 24px;
        padding: 40px;
        height: 40px;*/
      }
      
      .mobile-hidden {
        display: none;
      }

      .tablet-hidden {
        display: none;
      }

      .planit-control-footnote {
        position: absolute;
        left: 35%;
        top: 85%;
        z-index:1;
        padding: 10px;
        text-decoration: none;
        font-size: 10px;
        line-height: 5px;
        font-weight: 600;
        color: #444;
        text-align: center;
        background: rgba(255, 255, 255, 0.8);
        border: 1px solid #173e4f;
      }

      @media screen and (min-width: 768px) {
        .planit-control-footnote {
          position: absolute;
          left: 45%;
          top: 85%;
          z-index:1;
        }      
      }

      @media screen and (min-width: 768px) {
        .menu-items {
          padding-left: 60px;
        }
        .menu-address-container {
          padding: 30px 60px 0;
          display: flex;
        }

        .greenr-menu-logo {
          background: url(static/img/menu-logo.png) no-repeat;
          background-size: 200px 90px;
          padding: 40px;
          height: 90px;
          width: 200px;
        }  
      }

      .menu-cafe-address {
        display: inline-block;
        text-align: left;
        flex-basis: 50%;
      }

      .menu-co-address {
        display: none;
      }
      @media screen and (min-width: 1070px) {
        .menu-co-address {
          display: inline-block;
          text-align: right;
          flex-basis: 50%;
        }
      }

      .top-level-menu-margin {
        margin-top: 97px;
      }

      .events {
        min-height: 63vh;
        clear:both;
        /*padding: 1px;*/
      }

      .event-image {
        /*padding: 100px;*/
        height: 300px;
        padding: 20px 0;
        max-width: 100%;
      }

      @media screen and (min-width: 768px) {
        .event-image {
          /*padding: 100px;*/
          height: 400px;
          max-width: 700px;
        }
      }
      .event-name {
        font-size: 16px;
      }

      .event-timings {
        padding: 10px;
        font-size: 10px;
      }

      @media screen and (min-width: 1070px) {
        .event-name {
          font-size: 24px;
        } 

        .event-timings {
          font-size: 16px;
        }
      }

      .event-timings {
        padding: 10px;
      }

      .event-description {
        /*padding: 0 20px;*/
      }
      .event-header {
        padding: 20px;
      }

      .retail-brands {
      }

      .brand {
        display: inline-block;
        width: 99%;
        cursor: initial;
      }

      .event-details-container {
        word-wrap: break-word;
        display: inline-block;
        max-width: 200px;
      }

      @media screen and (min-width: 480px) {
        .brand {
          display: inline-block;
          width: 49%;
        }
      }
      @media screen and (min-width: 768px) {
        .brand {
          display: inline-block;
          width: 24%;
        }
        .event-details-container {
          display: inline-block;
          max-width: 500px;
        }
      }

      @media screen and (min-width: 1070px) {
        .brand {
          display: inline-block;
          width: 24%;
        }
        .event-details-container {
          display: inline-block;
          max-width: 900px;
        }
      }

      .infobox-heading {
        font-family: 'Cabin', sans-serif;
        font-size: 24px;
        font-weight: 900;
        color: #173e4f;
      }

      ul {
        padding: 0 0 0 18px;
      }

      .card-body-custom {
        max-width: 1200px;
      }

      .infobox-details {
        font-size: 14px
      }

      .arrow-left {
        border: none;
        display: inline-block;
        background: url(static/img/arrow-left.svg) no-repeat center;
        background-size: 24px 24px;
        padding: 10px;
        height: 90px;
        float: left;
      }

      .arrow-right {
        border: none;
        display: inline-block;
        background: url(static/img/arrow-right.svg) no-repeat center;
        background-size: 24px 24px;
        padding: 10px;
        height: 90px;
        float: right;
      }

      @media screen and (min-width: 480px) {
        .arrow-left {
          background: url(static/img/arrow-left.svg) no-repeat center;
          background-size: 48px 48px;
          padding: 40px;
        }

        .arrow-right {
          background: url(static/img/arrow-right.svg) no-repeat center;
          background-size: 48px 48px;
          padding: 40px;
        }
      }

      .infobox-close {
        background: url(static/img/close-info.svg) no-repeat;
        background-size: 100%;
        padding: 10px;
        height: 20px;
        border: none;
        position: relative;
        top: -20px;
        left: -20px;
        z-index: 100000;
      }

      .menucard-items {
        display: flex;
        justify-content: center;
      }

      .menucard-left {
        /*flex-basis: 50%;*/
        width: 130px;
        height: 400px;
        margin: 0px 20px 0 0;
        position: relative;
      }

      .menu-vertical-img {
        width: 130px;
        height: 120px;
        position: relative;
        /*margin-bottom: 20px;*/
      }

      .menucard-full {
        width: 280px;
        height: 260px;
        margin: 0 auto;
        position: relative;
      }

      @media screen and (min-width: 768px) {
        .menucard-left {
          /*flex-basis: 50%;*/
          width: 300px;
          height: 400px;
          margin: 0px 20px 0px 0;
        }

        .menu-vertical-img {
          width: 300px;
          height: 120px;
        }

        .menucard-full {
          width: 620px;
          height: 260px;
        }
      }

      @media screen and (min-width: 1200px) {
        .menucard-left {
          /*flex-basis: 50%;*/
          width: 400px;
          height: 400px;
          margin: 0px 20px 0px 0;
        }

        .menu-vertical-img {
          width: 400px;
          height: 120px;
        }

        .menucard-full {
          width: 820px;
          height: 260px;
        }
      }

      .menucard-right {
        flex-basis: 50%;
        width: 600px;
        margin: 20px 10px;
      }

      .menucard-section {
        margin: 20px auto 0;
      }

      .menucard {
        margin: 120px auto;
        text-align: center;
      }

      .menu-vertical {
        display: flex;
        flex-direction: column;
      }

      .menu-vertical-item {
        margin-bottom: 20px;
      }

      .menucard-small {
        height: 120px;
        margin: 0px 10px 20px;
        position: relative;
      }

      .menucard-item {
        margin-right: auto;
        margin-left: auto;
      }

      .menucard-left-spacing {
        margin-left: 20px;
      }

      .menucard-extra-spacing {
        margin-bottom: 20px;
      }

      .cafe1 {
        background: url('static/img/cafe/a1.jpg') center no-repeat;
        background-size: cover;
      }

      .cafe2 {
        background: url('static/img/cafe/a2.jpg') center no-repeat;
        background-size: cover;
      }

      .cafe3 {
        background: url('static/img/cafe/a3.jpg') center no-repeat;
        background-size: cover;
      }

      .cafe4 {
        background: url('static/img/cafe/a4.jpg') center no-repeat;
        background-size: cover;
      }

      .cafe5 {
        background: url('static/img/cafe/b1.jpg') center no-repeat;
        background-size: cover;
      }

      .cafe6 {
        background: url('static/img/cafe/b2.jpg') center no-repeat;
        background-size: cover;
      }

      .cafe7 {
        background: url('static/img/cafe/b3.jpg') center no-repeat;
        background-size: cover;
      }

      .cafe8 {
        background: url('static/img/cafe/c1.jpg') center no-repeat;
        background-size: cover;
      }

      .cafe9 {
        background: url('static/img/cafe/c2.jpg') center no-repeat;
        background-size: cover;
      }

      .cafe10 {
        background: url('static/img/cafe/c3.jpg') center no-repeat;
        background-size: cover;
      }

      .cafe11 {
        background: url('static/img/cafe/d1.jpg') center no-repeat;
        background-size: cover;
      }

      .cafe12 {
        background: url('static/img/cafe/d2.jpg') center no-repeat;
        background-size: cover;
      }

      .cafe13 {
        background: url('static/img/cafe/d3.jpg') center no-repeat;
        background-size: cover;
      }

      .cafe14 {
        background: url('static/img/cafe/e1.jpg') center no-repeat;
        background-size: cover;
      }

      .cafe15 {
        background: url('static/img/cafe/e2.jpg') center no-repeat;
        background-size: cover;
      }

      .cafe16 {
        background: url('static/img/cafe/e3.jpg') center no-repeat;
        background-size: cover;
      }

      .cafe17 {
        background: url('static/img/cafe/e4.jpg') center no-repeat;
        background-size: cover;
      }

      .menu-section-heading {
        font-family: 'Cabin', sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: normal;
      }

      .menu-section-description {
        font-family: 'Cabin', sans-serif;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
        line-height: normal;
      }

      .menucard-content {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(23, 62, 79, 0.3);
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        width: 100%;
        text-align: center;
      }

      .opaque-arrows {
        -webkit-filter: opacity(50%);
        filter: opacity(50%);
      }