        body {
          font-family: Avenir;
          min-height: 100vh;
        }

        @font-face {
          font-family: Avenir;
          src: url(Avenir.ttc);
        }

        .main-background {
            height: 802px;
            background: url("static/img/landing-image.jpg")  no-repeat center;
            background-size: cover;
            
        }

        .main-background2 {
            height: 802px;
            background: url("static/img/rectangle-4.jpg")  no-repeat center;
            background-size: cover;
        }

        .plain-background {
          background-color: #fff;
        }

        .main-background-gradient {
              height: 802px;
              background: linear-gradient(to bottom, rgba(23, 62, 79, 0.2), rgba(23, 62, 79, 0.4) 50%, rgba(23, 62, 79, 0.2));
              background-size: cover;
        }

        .main-logo {
            height: 70px;
            background: url("static/img/greenr-logo.svg")  no-repeat center;
            position: relative;
            top: -100px;            
        }

        .display-inline-block {
          display: inline-block;
        }

        .main-logo-center {
            padding: 20px 0 0 0;
            margin: 0 auto;
            display: inline-block;
        }

        .main-logo-green {
          height: 70px;
          width: 300px;
        }


        .display-block {
            display: block;
        }

        .vertical-middle {
            /*display: flex;*/
            /*justify-content: center;*/
            /*align-items: center;*/
            /*height: 100%;*/
            /*position: relative;*/
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            top: 50%;
            position: relative;
            text-align: center;
        }

        #menu {
          background: hsla(1,0%,100%,1);
          position: fixed;
          top: 0;
          width: 60%;
          z-index: 10000;
        }

        .extra-header-offset {
          margin-top: 110px;
        }

        .spanner {
            /*width: 100%;*/
            /*position: absolute;*/
            color: white;
        }

        .top-menu {
          background: url(static/svg/menu.svg) no-repeat center;
          background-size: 25px;
          padding: 0.975rem .75rem;
        }

        .top-menu-white {
          background: url(static/img/menu-white.svg) no-repeat center;
          background-size: 25px;
          padding: 0.975rem .75rem;
          outline: none;
        }

        .top-instagram {
          background: url(static/img/insta.svg) no-repeat;
          padding: 0.675rem .75rem;
          border: none;
          cursor:pointer;
        }

        .top-facebook {
          background: url(static/img/fb.svg) no-repeat;
          padding: 0.675rem .75rem;
          border: none;
          cursor:pointer;
        }

        .description-header {
          color: white;
          /*background-color: ;*/
          background: #183E4E url(static/img/leaf.png) no-repeat bottom 0px left 1px;
          background-size: 54px;
          padding: 25px 0 17px 131px;
        }

        @media screen and (min-width: 480px) {
          #menu {
            width: 50%;
          }

          .description-header {
            color: white;
            /*background-color: ;*/
            background: #183E4E url(static/img/leaf.png) no-repeat bottom 0px left 70px;
            background-size: 54px;
            padding: 25px 0 17px 131px;
          }
        }

        

        .center-header {
          color: white;
          /*background-color: ;*/
          background: #183E4E;
          padding: 25px;
          text-align: center;
          font-size: 20px;
          font-weight: 500;
          flex-basis: 100%;
        }

        .description-heading-brand {
          font-size: 14px;
          font-weight: normal;
          /*left: 120px;
          top: 20px;
          position: relative;*/
        }

        .description-heading-body {
          font-size: 24px;
          font-weight: 500;
          /*left: 120px;
          top: 20px;
          position: relative;*/
        }

        .blue-left {
          border-left: 3.49px solid #183E4E;
          border-bottom-left-radius: 4px;
        }

        .blue-top {
          border-top: 2.49px solid #183E4E;
        }

        .blue-bottom {
          border-bottom: 2.49px solid #183E4E;
        }

        .main-description-container {
          margin-left: 30px;
          padding-left: 25px;
          padding-top: 30px;
        }

        .invite-description-container {
          margin-left: 20px;
          padding-top: 30px;
        }

        .plantmeats-heading {
          font-size: 20px;
          font-weight: 500;
          text-align: center;
          color: #173e4f;
          max-width: 1200px;
          background-color: #f8f8f8;
          padding: 60px;
          margin-bottom: 40px;
        }

        @media screen and (min-width: 480px) {
          .main-description-container {
            margin-left: 98px;
            padding-left: 25px;
            padding-top: 30px;
          }

          .invite-description-container {
            margin-left: 88px;
            padding-top: 30px;
          }

          .plantmeats-heading {
            font-size: 36px;
            font-weight: 500;
            text-align: center;
            color: #173e4f;
            max-width: 1200px;
            background-color: #f8f8f8;
            padding: 60px;
            margin-bottom: 40px;
          }
        }

        .description {
          max-width: 1200px;
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
        }

        .description-list-item {
          max-width: 1200px;
          margin-top: 40px;
          font-weight: bold;
        }

        .community {
          background: url(static/img/community.png) no-repeat left 0px;
          background-size: 50px;
        }

        .self {
          background: url(static/img/self.png) no-repeat left 0px;
          background-size: 50px;
        }

        .nature {
          background: url(static/img/nature.png) no-repeat left 0px;
          background-size: 50px;
        }

        .description-list-text {
          padding-left: 67px;
        }

        .description-list-heading {
          font-size: 20px;
          letter-spacing: 5px;
          font-weight: 600;
        }

        .description-list-body {
          font-size: 16px;
          font-weight: 500;
        }


        .basic-description {
          padding-bottom: 60px;
          padding-right: 60px;
          color: #173e4f;
        }

        .more-about-btn-container {
          border: #183E4E solid 1px;
          width: 265px;
          margin-top: 30px;
          margin-left: 12px;
        }

        .more-about-btn {
          width: 275px;
          height: 40px;
          background-color: #173e4f;
          font-family: Avenir;
          font-size: 16px;
          font-weight: 900;
          text-align: center;
          color: #ffffff;
          margin-top: 0px;
          position: relative;
          top: -5px;
          left: -19px;
          border: none;
        }
        

        @media screen and (min-width: 480px) {
          .more-about-btn-container {
            border: #183E4E solid 1px;
            width: 305px;
            margin-top: 30px;
            margin-left: 12px;
          }

          .more-about-btn {
            width: 310px;
            height: 40px;
            background-color: #173e4f;
            font-family: Avenir;
            font-size: 16px;
            font-weight: 900;
            text-align: center;
            color: #ffffff;
            margin-top: 0px;
            position: relative;
            top: -5px;
            left: -12px;
          }
        }
        

        .statistics-text {
          padding: 20px 48px;
          display: block;
          align-items: center;
        }

        .statistics-text-left {
          text-align: center;
          display: block;
        }

        .stats-head-row2 {
          font-size: 24px;
          font-weight: 500;
        }

        .stats-head-row1 {
          font-size: 14px;
        }

        .statistics-text-right {
          display: block;
          text-align: center;
          font-size: 10px;
          flex-grow: 100;
        }

        .statistics-items {
          display: block;
        }

        @media screen and (min-width: 480px) {

          .statistics-text {
            display: flex;
          }
          .statistics-text-left {
            text-align: left;
            display: inline-block;
          }

          .statistics-text-right {
            display: inline-block;
            text-align: right;
          }
        }

        @media screen and (min-width: 768px) {
          .statistics-items {
            display: flex;
          }
        }

        .statistics-item {
          /*display: inline-block;*/
          flex-basis: 100%;
          height: 240px;
        }

        .land {
          background: url(static/img/land.svg) no-repeat center;
          background-color: #f8f8f8;
          background-size: 100% 135px;
          flex-grow: 100;
        }

        .water {
          background: url(static/img/water.svg) no-repeat center;
          background-size: 100% 135px;
          flex-grow: 100;
        }

        .gases {
          background: url(static/img/gases.svg) no-repeat center;
          background-color: #f8f8f8;
          background-size: 100% 135px;
          flex-grow: 100;
        }

        .footer-container {
          background-color: #183E4E ;
          padding: 20px;
        }

        .footer {
          border-bottom: 1px solid #ffffff;
          overflow: hidden;
          padding: 0 20px;
        }

        .footer-brand {
          padding-top: 40px;
          /*display: block;*/
          margin: 0 auto;
        }
        .footer-logo {
          background: url(static/img/greenr-logo.svg) center no-repeat;
          margin: 0 auto;
          background-size: 170px 30px;
          padding: 50px 100px;
        }
        

        .footer-contact-details {
          padding: 20px 0px 30px 0;
          color: #fff;
          font-family: Avenir;
          font-size: 30px;
          font-weight: 500;
          text-align: center;
        }

        .footer-cafe-address {
          flex-basis: 50%;
          padding: 10px;
        }

        .footer-co-address {
          flex-basis: 50%;
          padding: 10px;
        }

        .footer-address-container {
          display: flex;
          flex-direction: column;
          font-size: 14px;
        }

        .footer-contact-heading {
          padding-top: 20px;
          font-size: 16px;
        }

        @media screen and (min-width: 1070px) {
          .footer-brand {
            padding-top: 80px;
            display: inline-block;
          }

          .footer-contact-details {
            margin: 0 auto;
            padding: 80px 0px 30px 0;
            display: inline-block;
            float: right;
            color: #fff;
            font-family: Avenir;
            font-size: 30px;
            font-weight: 500;
          }

          .footer-address-container {
            display: flex;
            text-align: right;
            flex-direction: row;
            font-size: 14px;
          }

        }

        @media screen and (min-width: 768px) {

          .footer-container {
            background-color: #183E4E ;
            padding: 20px 80px;
          }

          .footer-cafe-address {
            flex-basis: 100%;
          }

          .footer-co-address {
            flex-basis: 100%;
          }

          .footer-address-container {
            display: flex;
            flex-direction: row;
            font-size: 14px;
          }

          .desktop-hidden {
            display: none;
          }
        }

        @media screen and (min-width: 480px) {
          .footer-contact-heading {
            padding-top: 0;
            font-size: 30px
          }

          .footer-logo {
            height: 70px;
            width: 300px;
            background: url(static/img/greenr-logo.svg) no-repeat;
            margin: 0 auto;
          }
        }

        .phone-number {
          font-size: 18px;
          font-weight: 500;
        }


        .btn-descriptor-item {
          background: url("static/img/descriptor-item.png") left no-repeat;
          padding: 30px;
          border: none;
          background-size: 60px;
          outline: none;
        }

        .btn-descriptor-item.collapsed {
          background: url("static/img/descriptor-item-open.png") left no-repeat;
          padding: 30px;
          border: none;
          background-size: 60px;
          outline: none;
        }

        

        .btn-descriptor-item.first.collapsed {
          background: url("static/img/descriptor-item-open.png") left no-repeat;
          padding: 30px;
          border: none;
          background-size: 60px;
          outline: none;
        }

        .no-border {
          border: none;
        }

        .item-descriptor {
          padding-top: 30px;
          max-width: 1380px;
        }

        .accordion-group {
         
        }

        .accordion-subgroup {
          display: flex;
        }

        .accordion-btn {
          flex-basis: 100%;
        }

        .item-heading {
          font-size: 30px;
          font-weight: 900;
        }

      .description-plain-container {
        background: #fff;
      }

      .description-plain {
        max-width: 500px;
        color: #183E4E;
        text-align: center;
        margin: 20px auto;
      }

      .background-dark-gray {
        background-color: #f2f2f2;
      }

      .background-light-gray {
        background-color: #fafafa;
      }

      .brand1 {
        background: #f2f2f2 url("static/img/fs-logo.jpg") center no-repeat;
        padding: 90px;
        background-size: 90px;
        outline: none;
      }

      .brand2 {
        background: #fafafa url("static/img/fs-logo.jpg") center no-repeat;
        padding: 90px;
        background-size: 90px;
        outline: none;
      }

      .brand3 {
        background: #f2f2f2 url("static/img/fs-logo.jpg") center no-repeat;
        padding: 90px;
        background-size: 90px;
        outline: none;
      }

      .brand4 {
        background: #fafafa url("static/img/fs-logo.jpg") center no-repeat;
        padding: 90px;
        background-size: 90px;
        outline: none;
      }

      .brand5 {
        background: #f2f2f2 url("static/img/fs-logo.jpg") center no-repeat;
        padding: 90px;
        background-size: 90px;
        outline: none;
      }

      .brand6 {
        background: #fafafa url("static/img/fs-logo.jpg") center no-repeat;
        padding: 90px;
        background-size: 90px;
        outline: none;
      }

      .brand7 {
        background: #f2f2f2 url("static/img/fs-logo.jpg") center no-repeat;
        padding: 90px;
        background-size: 90px;
        outline: none;
      }

      .brand8 {
        background: #fafafa url("static/img/fs-logo.jpg") center no-repeat;
        padding: 90px;
        background-size: 90px;
        outline: none;
      }

      .brand9 {
        background: #f2f2f2 url("static/img/fs-logo.jpg") center no-repeat;
        padding: 90px;
        background-size: 90px;
        outline: none;
      }

      .team-item-picture {
        /*background: url("static/img/team-item-picture.png") center no-repeat;*/
        max-width: 100%;

        /*padding: 90px;*/
        /*background-size: 90px;*/
      }

      .team-item-description {
        max-width: 100%;
        font-size: 24px;
        font-weight: 300;
      }

      .team-item-picture-container {
        flex-basis: 50%;
      }

      .team-item-description-container {
        flex-basis: 50%;
        margin: auto;
        padding: 60px;
      }

      @media screen and (min-width: 1070px) {
        .team-item-description-container {
          padding: 20px;
        }
      }

      .float-right {
        float: right;
      }

      .team {
        color: #173e4f;
      }

      .team-item {
        display: flex;
        flex-direction: column;
      }

      @media screen and (min-width: 1070px) {
        .team-item {
          flex-direction: row;
        }
      }

      .team-item-reverse {
        display: flex;
        flex-direction: column;
      }

      @media screen and (min-width: 1070px) {
        .team-item-reverse {
          flex-direction: row-reverse;
        }
      }

      .menu-container {
        padding: 32px 0 100% 16px;
      }

      .menu-header-container {
        /*padding: 10px 0;*/
        height: 120px;
      }

      .menu-item-container {
        padding: 20px 0px;
      }

      .menu-items {
        padding-left: 0px;
      }

      .custom-titlebar {
        position: fixed;
        top: 90px;
        width: 100%;
        z-index: 9999;
      }

      button:focus {
        outline: none;
        cursor:pointer;
      }


      .menu-item {
        font-family: Avenir;
        font-size: 24px;
        font-weight: 500;
        color: #173e4f;
      }

      .close-button-container {
        display: inline-block;

      }

      .menu-close-button {
        background: url("static/img/close.png") left no-repeat;
        padding: 20px;
        background-size: 40px;
        border: none;
        display: inline-block;
        outline: none;
      }

      .menu-logo-container {
        display: inline-block;
        float: right;
        margin: 0 20px;
      }

      .menu-address-container {
        padding: 30px 30px 0 0;
        display: block;
      }

      .greenr-menu-logo {
        background: url(static/img/menu-logo.png) no-repeat;
        background-size: 100px 40px;
        padding: 40px;
        height: 40px;
        width: 100px;
      }
      
      .mobile-hidden {
        display: none;
      }

      @media screen and (min-width: 480px) {
        .menu-items {
          padding-left: 60px;
        }
        .menu-address-container {
          padding: 30px 30px 0 60px;
          display: block;
        }

        .greenr-menu-logo {
          background: url(static/img/menu-logo.png) no-repeat;
          background-size: 200px 90px;
          padding: 40px;
          height: 90px;
          width: 200px;
        }  
      }

      .menu-cafe-address {
        display: inline-block;
        text-align: left;
        float: left;
      }

      .menu-co-address {
        display: none;
      }
      @media screen and (min-width: 1070px) {
        .menu-co-address {
          display: inline-block;
          text-align: right;
          float: right;
        }
      }

      .top-level-menu-margin {
        margin-top: 170px;
      }

      .event-image {
        /*background-position: center;
        background-repeat: no-repeat;
        background-size: 150px;*/
        padding: 100px;
      }